<html>
    <body class="am">
        <div class="container">
            <h1 class="card-header">header</h1>
            <div class="card-body mx-auto">
                <form name="form" (ngSubmit)="onSubmit()" #f="ngForm">
                    <div class="row">
                        <div class="form-group">
                        <label for="fname">FirstName</label> 
                        <input type="text" name="fname" class="form-control"[(ngModel)]="model.fname"/>
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" [(ngModel)]="model.email"/>
                        <label for="mobile">Mobile No</label>
                        <input type="text" name="mobile" class="form-control" [(ngModel)]="model.mobile"/>
                    </div>
                    </div>
                    <button class="btn btn-primary">submit</button>
                    
                </form>
            </div>
            <div *ngIf="msg==true" >
                <table class="table table-bordered">
                   <thead>
                       <tr><th>name</th>
                       <th>email</th>
                       <th>Mobile</th>
                       <th><button class="btn btn-danger">Edit/Delete</button></th>
                    </tr>
                   </thead>
                   <tr *ngFor="let r of a" >
                    <td>{{r.fname}}</td>
                    <td>{{r.email}}</td>
                    <td>{{r.mobile}}</td>
                    <td>
                        <button (click)="edit()" class="btn btn-danger">Edit   </button>
                        <button (click)="delete()" class="btn btn-danger pl-3">Delete</button>
                    </td>
                   </tr>
                </table>
            </div>
           <div>
            <strong>Name: </strong>  {{userName}}
            <strong>Phone: </strong>  {{userPhone}}
            
            <app-edituser
            (nameEvent)="nameEventHander($event)"
            (phoneEvent)="phoneEventHander($event)"></app-edituser>
            
           
           </div>
        </div>
        
    </body>
</html>